body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url('./images/Bg_To_Do_List.webp');
    background-size: cover;
    background-repeat: no-repeat; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    place-content: center;
}

#mainContainer {

    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 35% 15% 50%;

}

.carouselImg {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    grid-area: 1 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture-frame {
    border: 3px solid black;
    background-color: rgba(204, 219, 62, 0.2);
    border-radius: 7px;
    width: 450px;
    height: 450px;
}

#previous {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-self: center;
    align-self: center;
}

.next {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    justify-self: center;
    align-self: center;
}

/* #arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

svg {
    width: 40px;
    height: 40px;
}

img {
    /* display: none; */
    /* width: 400px;
  height: 400px;   */
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    object-fit: contain;
}

/* .firstImg {
    display: block;

} */

#circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}